.navbar{
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
  }
  
li {
    float: right;
    font-size: 30px;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }
  
li a:hover{
    border: 5px dotted white;
    box-shadow: 2px 2px 5px #000000;
  }