<div class="content">
    <div class="title">{{title}}</div>
    <div class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu libero condimeum, <br>
        viverra odio in, euismod odio. Praesent quis pharetra neque, vitae aliquam tortor. <br>
        Etiam.
    </div>
    <a href="#" style="text-decoration: none; color: white;">
        <div class="button">
            <div class="textB" (click)="lanzar($event)">{{button}}</div>
        </div>
    </a>
</div>