.content {
    color: white;
    text-align: center;
    margin-top: 12%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-weight: bold;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.p {
    font-size: 26px;
    margin-top: 50px;
}
.button {
    margin: 25px auto;
    width: 320px;
    height: 70px;
    display: inline-block;
    text-align: center;
    border: 2px solid white;
    border-radius: 35px;
    box-shadow: 2px 2px 5px #000000;
    margin-top: 50px;
}

.button:hover {
    box-shadow: 4px 4px 10px #000000;
}

.textB {
    margin-top: 20px;
    font-size: 25px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
}