<div class="bar">
    <app-logo [name]="'Your Logo'"></app-logo>
    <div class="navbar">
        <app-navbar (ButtonAction)="showButton($event)" [text]="a.text" [link]="a.link" *ngFor="let a of principal"></app-navbar>
    </div>
</div>
<router-outlet></router-outlet>