.logo {
    height: 80px;
    display: flex;
}

.p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 5px;
    color: white;
}

.circle {
    position:relative;
    width:50px;
    height:50px;
    margin-left: 15px;
    border: 15px solid white;
    border-radius:50% 50%;
}